

<h1>HELLO WELCOME TO SANDWICH CLUB DATABASE</h1>
<br><br>

<h2><%= link_to "SEE ALL SANDWICHES", sandwiches_path%></h2>

<h2><%= link_to "ADD A SANDWICH", new_sandwich_path%></h2>

<h2><%= link_to "SEE ALL MEMBERS", eaters_path%></h2>

<h2><%= link_to "READ ALL COMMENTS", comments_path%></h2>
